@import url(bootstrap.css);


body {
       background-image: url('https://f.cloud.github.com/assets/5033768/1006629/49a833ce-0aea-11e3-9176-2ff95c97e099.jpg'); 
} 

h1 {
    color:GreenYellow;
    text-align:Center;
    font-family:"Courier New";
    
}

h2 {
   color:Cyan;
   text-align:Center;
   font-family:"Courier New";
   background-color:RoyalBlue;
}
  
p  {
     color:Navy;
    text-align:Center;
    font-family:"Courier New";
   background-color:GreenYellow;
}
